
.row::before,
.row::after {
	content:"";
	display: table ;
	clear: both;
 }

body {
	font-size: 16px;
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


/* Navigation */
.menu {
background-color: black;
color: white;
padding: 12px 0;

}

.menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
	
}

.menu ul li {
	display: inline-flex;
	margin: 0 36px 0 0;
	
}

.menu ul li a {
	text-decoration: none;
	color: white;
}



.headliner {
	height: 100vh;
	background-image: url("https://i.postimg.cc/Yq7Ym7SP/fashion-clothing-men-s-elegant-63580-1.jpg");
	object-fit: cover;
	display: flex;

}


.headliner-inner {
	margin: auto;
	color: black;
}


.page-subtitle {
	font-size: 36px;
}


h1, h2 {
	/*max-width: 70%;*/
	background-color: white;
	padding: 10px 20px;
	text-align: center;
	letter-spacing: 10px;
}


h3 {
	font-size: 25px;
	padding: 10px;
	text-align: center;
}


.services {
	height: 250px;
	padding: 10px 0 10px 0;
}

.services-list {
	display: flex;
	text-align: center;
}

.services-list i {
	font-size: 100px;
}

.magazines {
	background-color: #F1F1F1;
}

h4 {
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

.magazines-list {
	text-align: center;
	}

.magazines-list img {
	padding: 10px 10px 10px 10px;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.icons {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.icons i {
	font-size: 36px;
	color: grey;
	padding: 0 10px;
}